html,
body {
  margin: 0;
}

.container {
  min-width: 768px;
}

.main_title {
  display: flex;
  justify-content: center;
  position: relative;
}

.main_title img {
  width: 600px;
  padding-bottom: 1em;
  cursor: pointer;
}

.main_buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 4px double black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main_buttons button {
  border: none;
  border-radius: 0.5em;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 2px;
}

.main_buttons button:hover {
  border: none;
  border-radius: 0.5em;
  background-color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.3s;
}

.main_buttons button:focus {
  border: none;
  border-radius: 0.5em;
  background-color: rgb(234, 234, 234);
  font-weight: 700;
}

.main_buttons button:active {
  border: none;
  border-radius: 0.5em;
  background-color: rgb(234, 234, 234);
  font-weight: 700;
  transform: scale(0.9);
  transition: 0.1s;
}

.news_img {
  max-width: 100%;
  max-height: 250px;
  min-width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.row {
  border-bottom: solid 2px rgb(190, 190, 190);
}

.row:hover {
  transform: scale(1.015);
  transition: 0.2s;
}

.row div {
  cursor: pointer;
}

.search_area {
  position: absolute;
  top: 63px;
  right: 12px;
}

#search_input {
  width: 200px;
  margin-right: -40px;
  padding: 8px;
  padding-left: 20px;
  background-color: rgb(234, 234, 234);
  border-radius: 15px;
  border:none;
}

.search_area button {
  background-color: transparent;
  border: none;
}

.left_nav {
  display: none;
}

.search_area_sidebar {
  display:none;
}

@media screen and (max-width: 768px) {

  html,
  body {
    font-size: 13px;
    margin: 0;
  }

  .main_title img {
    width: 400px;
    padding-bottom: 0;
    margin-bottom: 50px;
    position: relative;
    left: 20px;
  }

  .container {
    min-width: 500px;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
  }

  .search_area {
    display: none;
  }

  .main_buttons {
    display: none;
  }

  .left_nav {
    display: block;
    position: absolute;
    top: 45px;
    left: 33px;
  }

  #menu_icon {
    display: none;
  }

  .onTop {
    position: absolute;
    z-index: 2;
  }

  .sidebar {
    width: 250px;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    left: -250px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sidebar button {
    border: none;
    background-color: white;
    text-align: center;
    height: 50px;
    z-index: 2;
  }

  .search_area_media {
    display:flex;
    justify-content: center;
    position:absolute;
    top:95px;
  }

  #search_input_media {
    width: 300px;
    margin-right: -40px;
    padding: 8px;
    padding-left: 20px;
    background-color: rgb(234, 234, 234);
    border-radius: 15px;
    border:none;
  }
  
  .search_area_media button {
    background-color: transparent;
    border: none;
  }

  #menu_icon:checked+label+div {
    left: 0;
  }
}

.left_nav {
  display: flex;
}