@font-face {
  font-family: "SCDream4";
  src: url(/font/SCDream4.otf);
}

html,
body {
  font-family: "SCDream4";
  margin: 0;
}

.container {
  min-width: 768px;
}

.main_title {
  display: flex;
  justify-content: center;
  position: relative;
}

.main_title img {
  width: 600px;
  padding-bottom: 1em;
  cursor: pointer;
}

.main_buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid rgb(189, 189, 189);
  border-bottom: 4px double black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main_buttons button {
  border: none;
  border-radius: 0.5em;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 2px;
}

.main_buttons button:hover {
  border: none;
  border-radius: 0.5em;
  background-color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.3s;
}

.main_buttons button:focus {
  border: none;
  border-radius: 0.5em;
  background-color: rgb(234, 234, 234);
  font-weight: 700;
}

.main_buttons button:active {
  border: none;
  border-radius: 0.5em;
  background-color: rgb(234, 234, 234);
  font-weight: 700;
  transform: scale(0.9);
  transition: 0.1s;
}

.news_img {
  max-width: 100%;
  max-height: 250px;
  min-width: 100%;
  min-height: 250px;
  object-fit: cover;
}

.row {
  border-bottom: solid 2px rgb(190, 190, 190);
}

.row:hover {
  transform: scale(1.015);
  transition: 0.2s;
}

.row div {
  cursor: pointer;
}

.search_area {
  position: absolute;
  top: 63px;
  right: 12px;
}

#search_input {
  width: 200px;
  margin-right: -40px;
  padding: 8px;
  padding-left: 20px;
  background-color: rgb(234, 234, 234);
  border-radius: 15px;
  border: none;
}

.search_area button {
  background-color: transparent;
  border: none;
}

.left_nav {
  display: none;
}

.page-item {
  z-index: 0;
}

.page-link {
  color: black;
  font-weight: bold;
}

.page-link:focus {
  color: black;
  font-weight: bold;
  box-shadow: none;
}

.page-link:hover {
  color: black;
  transform: scale(1.15);
  transition: 0.5s;
}

.page-item.active .page-link {
  background-color: rgb(234, 234, 234);
  border-color: rgb(234, 234, 234);
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 768px) {

  html,
  body {
    font-family: "SCDream4";
    font-size: 13px;
    margin: 0;
  }

  .main_title {
    margin-top: 20px;
    margin-bottom: 80px;
  }

  .main_title img {
    width: 300px;
    padding-bottom: 0;
    position: relative;
    left: 20px;
  }

  .container {
    min-width: 300px;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
  }

  .main_buttons {
    display: none;
  }

  .left_nav {
    display: block;
    position: absolute;
    top: 40px;
    left: 33px;
  }

  #menu_icon {
    display: none;
  }

  .close_sidebar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: x-large;
    font-weight: bold;
  }

  .close_sidebar_topic {
    border-bottom: 1px solid rgb(211, 211, 211);
    text-align: center;
    vertical-align: middle;
    line-height: 5vh;
    width: 120px;
    cursor: pointer;
  }

  .close_sidebar_topic:hover {
    background-color: rgb(211, 211, 211);
    transition: 0.5s;
  }

  .close_sidebar:checked .sidebar {
    position: fixed;
    left: -200px;
  }

  .close_sidebar_topic:checked .sidebar {
    position: fixed;
    left: -200px;
  }

  .onTop {
    position: absolute;
    z-index: 2;
  }

  .sidebar {
    width: 200px;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 2;
    left: -200px;
    top: 0;
    right: 0;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    z-index: 2;
  }

  .sidebar :last-child {
    border: none;
  }

  .sidebar_background {
    background-color: rgba(0, 0, 0, 0.351);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1;
    transition: all 0.3s;
  }

  #menu_icon:checked+label+div {
    left: 0;
  }

  #menu_icon:checked~.sidebar_background {
    visibility: visible;
  }

  .search_area {
    position: absolute;
    top: 90px;
    left: 20%;
  }

  #search_input {
    width: 100%;
    margin-right: -13%;
    margin-left: -10%;
    padding: 8px;
    padding-left: 20px;
    background-color: rgb(234, 234, 234);
    border-radius: 15px;
    border: none;
  }
}

@media screen and (min-width:768px) and (max-width:1200px) {

  html,
  body {
    font-family: "SCDream4";
    margin: 0;
  }

  .main_title {
    padding-bottom: 50px;
  }

  .search_area {
    position: absolute;
    top: 130px;
    right: 20px;
  }

  #search_input {
    width: 200px;
    margin-right: -40px;
    margin-left: -20px;
    padding: 8px;
    padding-left: 20px;
    background-color: rgb(234, 234, 234);
    border-radius: 15px;
    border: none;
  }
}