body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
}

nav {
  background-color: white;
  font-size: 14px;
}

i {
  color: rgb(153, 153, 153);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(255, 173, 173);
  transform: scale(1.2);
  transition: transform .2s;
}

.nav_button {
  background-color: white;
  border: none;
}

.pc_nav {
  display: block;
}

.mobile_nav {
  background-color: white;
  display: none;
}

@media screen and (max-width:48rem) {
  .pc_nav {
    display: none;
  }

  .mobile_nav {
    display: block;
  }
}

.second_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_icon {
  padding-right: 0.5rem;
}

footer {
  border-top: 1px solid rgb(246, 228, 228);
  font-size: 13px;
}

.footer_second_line {
  background-color: rgb(246, 228, 228);
}

.container {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
  margin-right: auto;
  margin-left: auto;
}

.main_button {
  background-color: white;
  border: 1.5px solid rgb(244, 190, 190);
  color: rgb(244, 190, 190);
  font-weight: 500;
}

.main_button:hover {
  background-color: white;
  border: 2px solid rgb(244, 190, 190);
  color: rgb(244, 190, 190);
  font-weight: 600;
  transform: scale(1.1);
  transition: transform .2s;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.card-img-top {
  height: 30rem;
  object-fit: cover;
}

@media screen and (max-width: 48rem) {
  .card-img-top {
    height: 15rem;
    object-fit: cover;
  }
}

.my_carousel {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

@media screen and (max-width: 48rem) {
  .my_carousel {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
}

@media screen and (max-width: 48rem) {
  .main_button {
    font-size: 12px;
  }
}

.nav-link {
  padding: 0;
}