@media screen and (max-width:768px) {

  body {
    margin: 0;
  }

  nav {
    position: fixed;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  nav span {
    padding-left: 10px;
    padding-right: 10px;
  }


  .blank {
    height: 100px;
  }

  /* -------------sidebar------------- */

  .sidebar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 3;
    background-color: rgb(15, 15, 15);
    height: 100vh;
    width: 300px;
    opacity: 0;
    transition: .4s;
  }

  .sidebar_menu {
    margin-left: 20px;
  }

  /* -------------userInfo------------- */

  #userInfo_icon {
    display: none;
  }

  .userInfo_container {
    width: 250px;
  }

  /* -------------subTitle_section------------- */

  #subTitle_section img {
    object-fit: cover;
    object-position: -1150px;
  }

  .subTitle {
    position: absolute;
    top: 130px;
    left: 30px;
    width: 80vw;
    font-size: 18vw;
    letter-spacing: 20px;
    line-height: 170px;
  }

  /* -------------intro_section------------- */

  .introContainer img {
    object-position: 300px;
  }

  .textContainer {
    position: absolute;
    top: 150px;
    left: 40px;
    width: 90vw;
    text-align: left;
  }

  .textContainer h1 {
    margin-bottom: 30px;
  }

  .textContainer p {
    display: none;
  }

  /* -------------colorPick_section------------- */

  .colorPick_container {
    justify-content: left;
    width: 100vw;
    overflow: scroll;
  }

  .colorContainer {
    margin-bottom: 50px;
  }

  .colorContainer h3 {
    font-size: 20px;
    font-weight: 400;
  }

  .colorContainer p {
    font-size: 8px;
    font-weight: 200;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* -------------footer_section------------- */

  .footer_container {
    flex-direction: column;
    height: auto;
    padding-left: 30px;
  }

  .footer_container .col {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .footer_container .linear_wipe {
    padding-bottom: 20px;
  }

  .footer_container p {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }

  .footer_container a {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .col img {
    margin-top: 13px;
    margin-bottom: 13px;
  }

}