@font-face {
  font-family: 'SCDream4';
  src: url('/font/SCDream4.otf');
}

@font-face {
  font-family: 'ONE';
  src: url('/font/ONE.otf');
}

body {
  margin: 0;
  background-color: rgb(15, 15, 15);
  font-family: 'ONE', 'SCDream4', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  background-color: rgb(15, 15, 15);
  height: 60px;
  font-size: 24px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  cursor: pointer;
}

nav .linear_wipe {
  font-size: 30px;
}

nav span {
  padding-left: 20px;
  padding-right: 20px;
}

.downArrow {
  position: fixed;
  bottom: 3%;
  left: 50%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}

.downArrow:hover {
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
}

/* -------------subTitle_section------------- */

#subTitle_section {
  height: 750px;
  margin-top: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


#subTitle_section img {
  height: 100%;
  width: 100%;
  padding-bottom: 100px;
  object-fit: cover;
}

.subTitle {
  position: absolute;
  font-size: 100px;
  font-weight: bold;
  font-family: 'ONE';
  text-align: left;
  color: rgb(220, 220, 220);
  position: absolute;
  top: 200px;
  left: 100px;
  z-index: 1;
}

/* -------------intro_section------------- */

#intro_section {
  position: relative;
  height: 700px;
  overflow: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  overflow-wrap: normal;
}

.introContainer img {
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0;
}

.textContainer {
  position: absolute;
  right: 850px;
  top: 20vh;
  text-align: right;
  height: 500px;
  overflow: hidden;
}

.textContainer h1 {
  font-size: 50px;
  color: rgb(220, 220, 220);
  margin-bottom: 100px;
}

.textContainer p {
  font-size: 22px;
  color: rgb(220, 220, 220);
}

/* -------------colorPick_section------------- */

.colorPick_container {
  display: flex;
  justify-content: center;
}

.colorContainer {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 50px;
  padding: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.2s;
  color: rgb(220, 220, 220);
  cursor: pointer;
}

.colorContainer:hover {
  transform: scale(1.06);
  transition: 0.2s;
}

.colorContainer h3 {
  font-size: 20px;
  font-weight: 600;
}

.colorContainer p {
  font-size: 8px;
  font-weight: 200;
}

.black {
  position: relative;
  z-index: 1;
}

.black::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/Pexels/black/pexels_black.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.black:hover {
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.2s;
}

.gray {
  position: relative;
  z-index: 1;
}

.gray::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/freepik/gray/freepik_gray_ (2).jpg");
  background-repeat: none;
  background-size: cover;
  border-radius: 10px;
}

.gray:hover {
  background-color: rgba(50, 50, 50, 0.9);
  transition: 0.2s;
}

.violet {
  position: relative;
  z-index: 1;
}

.violet::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/freepik/violet/freepik_violet_ (2).jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.violet:hover {
  background-color: rgba(100, 16, 100, 0.9);
  transition: 0.2s;
}

.yellow {
  position: relative;
  z-index: 1;
}

.yellow::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/freepik/yellow/freepik_yellow_(1).jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.yellow:hover {
  background-color: rgba(230, 211, 0, 0.5);
  transition: 0.2s;
}

.white {
  position: relative;
  z-index: 1;
}

.white::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/freepik/white/freepik_white_ (2).jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.white:hover {
  background-color: rgba(173, 173, 173, 0.9);
  transition: 0.2s;
}

.orange {
  position: relative;
  z-index: 1;
}

.orange::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/Pexels/orange/pexels_orange_ (1).jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.orange:hover {
  background-color: rgb(255, 115, 0, 0.5);
  transition: 0.2s;
}

.red {
  position: relative;
  z-index: 1;
}

.red::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/freepik/red/freepik_red_ (2).jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.red:hover {
  background-color: rgba(183, 21, 21, 0.5);
  transition: 0.2s;
}

.blue {
  position: relative;
  z-index: 1;
}

.blue::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/freepik/blue/freepik_blue_ (1).jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.blue:hover {
  background-color: rgba(35, 35, 188, 0.9);
  transition: 0.2s;
}

.green {
  position: relative;
  z-index: 1;
}

.green::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .2;
  background-image: url("/images/freepik/green/freepik_green_ (1).jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  transition: 0.3s;
}

.green:hover{
  background-color: rgb(0, 83, 8, 0.9);
  transition: 0.2s;
}

/* -------------footer_section------------- */

.footer_section {
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  height: 350px;
}

.footer_container {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
  height: 100%;
  display: flex;
}

.footer_container .linear_wipe {
  padding-right: 50px;
}

.col {
  color: rgb(220, 220, 220);
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.col p {
  font-size: 13px;
  font-weight: 600;
  color:rgb(140, 140, 140)
}

.col a {
  font-size: 11px;
  display: inline-block;
  padding-top: 20px;
  cursor: pointer;
}

.col a:hover {
  background: linear-gradient(to right, rgb(135, 0, 135) 0%, rgb(221, 16, 16) 25%, rgb(135, 0, 135) 50%, rgb(27, 45, 252) 75%, rgb(135, 0, 135) 100%);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

.col img {
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}