@font-face {
  font-family:'SCDream4';
  src: url(/font/SCDream4.otf) format('otf');
}

@font-face {
  font-family:'ONE';
  src: url(/font/ONE.otf) format('otf');
}

body {
  margin: 0;
  background-color: black;
  font-family: 'ONE','SCDream4','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  background-color: black;
  height: 60px;
  font-size: 24px;
  color: white;
}

nav span {
  padding-left: 20px;
  padding-right: 20px;
}

#main_section {
  position:relative;
  text-align: center;
}

#main_section img {
  width: 100vw;
}

.subTitle {
  font-size: 7vw;
  font-weight: bold;
  font-family: 'ONE';
  /* text-shadow: 5px 5px 20px rgb(0, 0, 0); */
  text-align: left;
  color: rgb(220, 220, 220);
  position: absolute;
  top: 20%;
  left: 6%;
}