body {
  margin: 0;
  background-image: url(./images/image-from-rawpixel-id-436294-jpeg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.title_area {
  background-color: rgb(203, 203, 203);
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 88rem;
}

.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 100vh;
  padding: 2rem;
}

.tabs_area {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}

.tabs_area span {
  padding: 1.5rem;
}