body {
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  background-image: url(./images/image-from-rawpixel-id-436294-jpeg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
}

/* .title_area {
  background-color: rgb(203, 203, 203);
} 
have to search how to cover padding area */

.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  height: 100%;
  padding: 1.5rem;
}

.input_area {
  width: 40vw;
  padding-left: 0.7rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.tabs_area {
  display: flex;
  justify-content: left;
  border-bottom: solid 1px lightgray;
}

.tabs_area div {
  padding: 1.5rem;
  cursor: pointer;
}

.main_area {
  border: solid 1px lightgray;
}

.task_list_area {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;
}

.task_list_area span {
  padding: 1.5rem;
}

.task_done{
  background-color: rgb(178, 178, 178);
}

input:focus::placeholder {
  color: transparent;
}

.button_area {
  display: flex;
}

.button-38 {
  background-color: #FFFFFF;
  border: 0;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38_del {
  background-color: #FFFFFF;
  border: 0;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-38:hover {
  background-color:rgba(55, 213, 65);
  transition: 0.3s;
}

.button-38_del:hover {
  background-color:rgb(226, 67, 67);
  transition: 0.3s;
}

#tab_underline {
  background-color: brown;
  height: 4px;
  position: absolute;
  top: 205px;
  left: 200px;
  width: 0px;
  transition: 0.5s;
  padding: 0px;
}